## Deliverable 2. Create a Customer Travel Destinations Map.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [33]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Basse,DE,52.5518,9.5069,19.63,87,0,5.75,clear sky
1,1,Touros,BR,-5.1989,-35.4608,79.70,86,99,5.32,overcast clouds
2,2,Nanortalik,GL,60.1432,-45.2371,31.42,73,91,16.28,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,78.78,75,18,16.53,light rain
4,4,Emba,KZ,48.8264,58.1442,5.16,80,17,7.90,few clouds

In [37]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature criteria for your trip?: "))
max_temp = float(input("What is the maximum temperature criteria for your trip?: "))

What is the minimum temperature criteria for your trip?: 70
What is the maximum temperature criteria for your trip?: 90

In [38]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Touros,BR,-5.1989,-35.4608,79.70,86,99,5.32,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,78.78,75,18,16.53,light rain
5,5,Nelson Bay,AU,-32.7167,152.1500,81.95,73,35,1.99,heavy intensity rain
7,7,Bambous Virieux,MU,-20.3428,57.7575,89.85,58,75,12.66,broken clouds
8,8,Georgetown,MY,5.4112,100.3354,89.53,74,20,10.36,few clouds
9,9,Cockburn Town,TC,21.4612,-71.1419,78.33,74,1,10.78,clear sky
11,11,Mataura,NZ,-46.1927,168.8643,72.57,48,54,8.63,broken clouds
12,12,Butaritari,KI,3.0707,172.7902,82.54,74,38,10.78,scattered clouds
14,14,Mackay,AU,-21.1500,149.2000,85.05,71,100,4.83,light rain
16,16,Kruisfontein,ZA,-34.0033,24.7314,72.88,65,45,3.24,scattered clouds

In [39]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Touros,BR,-5.1989,-35.4608,79.70,86,99,5.32,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,78.78,75,18,16.53,light rain
5,5,Nelson Bay,AU,-32.7167,152.1500,81.95,73,35,1.99,heavy intensity rain
7,7,Bambous Virieux,MU,-20.3428,57.7575,89.85,58,75,12.66,broken clouds
8,8,Georgetown,MY,5.4112,100.3354,89.53,74,20,10.36,few clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,Nagtipunan,PH,16.2167,121.6000,72.28,96,98,3.74,overcast clouds
681,681,Sinnamary,GF,5.3833,-52.9500,75.81,90,57,5.30,broken clouds
682,682,Zabid,YE,14.1951,43.3152,82.40,53,0,4.45,clear sky
692,692,Bambanglipuro,ID,-7.9500,110.2833,84.88,69,76,9.40,broken clouds
694,694,Menongue,AO,-14.6585,17.6910,75.04,59,91,8.79,overcast clouds

In [41]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Touros,BR,79.70,overcast clouds,-5.1989,-35.4608,
3,Atuona,PF,78.78,light rain,-9.8000,-139.0333,
5,Nelson Bay,AU,81.95,heavy intensity rain,-32.7167,152.1500,
7,Bambous Virieux,MU,89.85,broken clouds,-20.3428,57.7575,
8,Georgetown,MY,89.53,few clouds,5.4112,100.3354,
9,Cockburn Town,TC,78.33,clear sky,21.4612,-71.1419,
11,Mataura,NZ,72.57,broken clouds,-46.1927,168.8643,
12,Butaritari,KI,82.54,scattered clouds,3.0707,172.7902,
14,Mackay,AU,85.05,light rain,-21.1500,149.2000,
16,Kruisfontein,ZA,72.88,scattered clouds,-34.0033,24.7314,

In [42]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    print("-------")
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
Hotel not found... skipping.
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
Hotel not found... skipping.
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------

In [43]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Touros,BR,79.70,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
3,Atuona,PF,78.78,light rain,-9.8000,-139.0333,Villa Enata
5,Nelson Bay,AU,81.95,heavy intensity rain,-32.7167,152.1500,Mantra Nelson Bay
7,Bambous Virieux,MU,89.85,broken clouds,-20.3428,57.7575,Casa Tia Villa
8,Georgetown,MY,89.53,few clouds,5.4112,100.3354,Cititel Penang

In [44]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))